* {
  /*border: 1px solid red;*/
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f3f1e9;
  height: 100%;
}

a,
#back {
  text-decoration: none;
  color: #3f3f3f;
}

a:hover {
  color: #ff088f;
  text-shadow: 4px 2px 2px gray;
}

header {
  height: 60px;
  margin: 10px;
}

nav {
  margin: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 10px 0;
}

nav ul li {
  display: inline;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 10px;
}

aside#left {
  width: 175px;
  margin-top: 20px;
  float: left;
}

#left h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#left ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  list-style: none;
  text-indent: 15px;
}

#left ul li {
  background: #3f3f3f;
  line-height: 28px;
  border-bottom: 1px solid #333;
}

#left ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#left ul li a:hover {
  background: #d40203;
}

#left ul li#active {
  background: #d40203;
}

#main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #464646;
  overflow: hidden;
  float: left;
  width: 430px;
}

aside#right {
  padding: 0px;
  margin-left: 10px;
  width: 200px;
  float: left;
}

#shopcart {
  margin-bottom: 20px;
}

#login {
  margin-top: 40px;
}

footer {
  border-top: 1px solid red;
  text-align: center;
  width: 100%;
  height: 50px;
  clear: both;
  background-image: url(images/footer_bg.gif);
  background-position: top left;
  background-repeat: repeat-x;
}

#lg {
  display: block;
  width: 800px;
  height: auto;
  margin: auto;
}

caption {
  font-size: 30px;
  font-weight: bold;
}

#title {
  text-align: center;
  margin: 20px;
}

#lggram,
.fogot {
  margin: auto;
  width: 1000px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px;
}

#back {
  text-align: center;
}

#cart {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#line2 {
  border-bottom: 3px double black;
  background-color: burlywood;
}

#center {
  margin: 20px;
  text-align: center;
}

#shop1 {
  display: block;
  margin: auto;
}

#show2 > h1,
p {
  text-align: center;
  padding: 10px;
}

#page-wrap {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px;
}

.order {
  border-collapse: separate;
  border-spacing: 3px;
  width: 100%;
  font-size: 15px;
  padding-top: 20px;
}

.order > caption {
  text-align: left;
  font-size: 20px;
}

.right-t {
  text-align: right;
}

.left-t {
  text-align: left;
}

.top-t {
  border-top: 1px solid gray;
}

.center-t {
  text-align: center;
  margin: 20px;
}

.font-g {
  color: green;
  font-weight: bold;
  text-align: right;
}

.font-b {
  color: blue;
  font-weight: bold;
}

.img-s {
  width: 50px;
  height: 50px;
}

.resize-s {
  width: 100px;
}

.img-a {
  width: 250px;
  height: auto;
}

.c1 {
  width: 250px;
}

.c1 > p {
  text-align: right;
}
